.idea
__pycache__

target/

// Ignore the downloaded/derived data
evaluation/datasets/**/*.pdf
evaluation/datasets/**/*.jpeg
evaluation/datasets/**/*.jpg
evaluation/datasets/**/*.pgm
*.pkl
!pdffigures2_python/models/region_classifier_model.pkl

venv/
.pytest_cache/
*.pyc
*.pyo
*.pyd
*.swp
.DS_Store
